footer {
  @include sp {
    height: 9rem;
  }
  @include tab {
    height: 9rem;
  }
  @include pc {
    height: 9.2rem;
  }
  background-color: $navy;
  margin: 0 auto;

  ul {
    @include sp {
      width: 80%;
    }
    @include tab {
      width: 80%;
    }
    @include pc {
      max-width: 124rem;
    }
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
    a {
      @include sp {
        font-size: 1.5rem;
      }
      @include tab {
        font-size: 2rem;
      }
      @include pc {
        font-size: 2rem;
      }
      color: #ccc;
      position: relative;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
      &::after {
        @include sp {
          height: 0.1rem;
        }
        @include tab {
          height: 0.2rem;
        }
        @include pc {
          height: 0.2rem;
        }
        background: #fff;
        bottom: -0.1rem;
        content: "";
        left: 0;
        position: absolute;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform 0.2s;
        width: 100%;
      }
      &:hover::after {
        transform: scale(1, 1);
      }
    }
  }
  .copyRight {
    color: #fff;
    font-size: 1.3rem;
    padding: 10px 0;
    text-align: center;
  }
}