#Portfolio {
  background-color: #efefef;
  color: $navy;
  @include sp {
    padding: 5.6rem 0 9.6rem;
  }
  @include tab {
    padding: 5.6rem 0;
  }
  @include pc {
    padding: 6.4rem 0;
  }

  .portfolioContainer {
    margin: 0 auto;
    @include sp {
      max-width: 100%;
    }
    @include tab {
      max-width: 100%;
    }
    @include pc {
      max-width: 124rem;
    }

    .portfolioGroup {
      .useLanguage {
        color: $navy;
        font-family: serif;
        margin: 0 auto;
        position: relative;
        text-align: center;
        @include sp {
          font-size: 3.6rem;
          margin-bottom: 2rem;
        }
        @include tab {
          font-size: 4rem;
          margin-bottom: 2.4rem;
        }
        @include pc {
          font-size: 5.6rem;
          line-height: 8rem;
          margin-bottom: 2rem;
        }
        &::after {
          background-color: $navy;
          bottom: 0.8rem;
          content: "";
          display: block;
          height: 0.2rem;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          width: 7.2rem;
          @include sp {
            bottom: -0.8rem;
          }
          @include tab {
            bottom: -0.8rem;
          }
        }
      }

      .portfolioContent {
        border: 0.1rem solid $lightGray;
        border-radius: 0.8rem;
        background-color: rgb(251, 251, 251);
        margin: 0 auto 5.6rem;
        text-align: center;
        @include sp {
          width: 90%;
          padding: 4rem 1.6rem 2.4rem;
        }
        @include tab {
          width: 90%;
          padding: 4rem 2.4rem;
        }
        @include pc {
          width: 90%;
          padding: 4rem 4rem 5.6rem;
        }
      }
      .portfolioTitle {
        position: relative;
        display: inline-block;
        vertical-align: center;
        @include sp {
          font-size: 1.6rem;
          line-height: 4rem;
          height: 4rem;
          padding: 0 6rem;
          margin-bottom: 1.6rem;
        }
        @include tab {
          font-size: 2.4rem;
          line-height: 4.8rem;
          height: 4.8rem;
          padding: 0 12rem;
          margin-bottom: 2rem;
        }
        @include pc {
          font-size: 3.2rem;
          line-height: 6.4rem;
          height: 6.4rem;
          padding: 0 16rem;
          margin-bottom: 0.8rem;
        }
        &::before,
        &::after {
          content: "";
          background-color: $yellow;
          position: absolute;
          top: 50%;
          display: inline-block;
          height: 0.2rem;
          @include sp {
            width: 6rem;
          }
          @include tab {
            width: 12rem;
          }
          @include pc {
            width: 16rem;
          }
        }
        &::before {
          background: linear-gradient(-90deg, $yellow, transparent);
          @include sp {
            left: -0.6rem;
          }
          @include tab {
            left: -1.2rem;
          }
          @include pc {
            left: -1.6rem;
          }
        }
        &::after {
          background: linear-gradient(90deg, $yellow, transparent);
          @include sp {
            right: -0.6rem;
          }
          @include tab {
            right: -1.2rem;
          }
          @include pc {
            right: -1.6rem;
          }
        }
      }

      .portfolioUnit {
        .portfolioImage {
          text-align: center;
          margin-bottom: 3.2rem;
          .reference {
            display: block;
            height: auto;
            margin: 0 auto;
            @include sp {
              width: 80%;
            }
            @include tab {
              width: 48rem;
            }
            @include pc {
              width: 40rem;
            }
            .portfolioDesc {
              font-size: 4rem;
            }

            .appImg {
              height: auto;
              width: 100%;
            }
          }
        }

        .portfolioModule {
          @include sp {
            flex-direction: column;
          }
          @include tab {
            flex-direction: row;
          }
          @include pc {
            flex-direction: row;
            padding-bottom: 4rem;
          }
          display: flex;
          width: 100%;

          .portfolioThumbnail {
            position: relative;
            text-align: center;
            height: 90%;
            width: 100%;
            @include sp {
              margin-bottom: 3.2rem;
            }
            .video {
              @include sp {
                width: 80%;
                height: 28rem;
              }
              @include tab {
                width: 100%;
                height: 28rem;
              }
              @include pc {
                height: 32rem;
                width: 100%;
              }
            }
          }

          .portfolioAbout {
            box-sizing: border-box;
            flex-grow: 1;
            text-align: center;
            width: 100%;
            @include sp {
              padding-bottom: 2.4rem;
            }
            @include tab {
              // padding: 0 3.6rem 4rem;
            }
            @include pc {
              // padding: 0 6rem 4rem;
            }
            .portfolioDesc {
              @include tab {
                margin-bottom: 0.8rem;
              }
            }
          }

          .portfolioDescList {
            text-align: start;
            margin: 0 auto 1.6rem;
            width: 80%;
            @include sp {
              padding-left: 3.2rem;
            }
            @include tab {
              padding-left: 2.4rem;
            }
            @include pc {
              padding-left: 3.2rem;
            }
          }

          .portfolioDetail {
            @include sp {
              font-size: 1.2rem;
              line-height: 2.4rem;
            }
            @include tab {
              font-size: 1.2rem;
              line-height: 2rem;
              margin-bottom: 0.8rem;
              &:last-child {
                margin-bottom: 2rem;
              }
            }
            @include pc {
              font-size: 1.6rem;
              line-height: 3.2rem;
              margin-bottom: 0.8rem;
            }
          }
        }
        .portfolioDesc {
          @include sp {
            font-size: 1.6rem;
            line-height: 2.4rem;
          }
          @include tab {
            font-size: 2rem;
            line-height: 3.6rem;
          }
          @include pc {
            font-size: 2.4rem;
            height: 5.6rem;
            line-height: 4.8rem;
          }
          display: inline-block;
          text-align: center;
        }
        ////////////////////////////////
        //擬似要素によるアイコンの追加//
        ////////////////////////////////
        .film {
          position: relative;
          &::before,
          &::after {
            color: #bbb;
            content: "\f008";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
          }
          &::before {
            left: -3.6rem;
          }
          &::after {
            right: -3.6rem;
          }
        }
        .link {
          position: relative;
          &::before,
          &::after {
            color: #bbb;
            content: "\f0c1";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
          }
          &::before {
            left: -3.6rem;
          }
          &::after {
            right: -3.6rem;
          }
        }
        .overview {
          position: relative;
          &::before,
          &::after {
            color: #bbb;
            content: "\f15c";
            font-family: "Font Awesome 5 Free";
            font-weight: 400;
            position: absolute;
          }
          &::before {
            left: -3.6rem;
          }
          &::after {
            right: -3.6rem;
          }
        }
        .point {
          position: relative;
          &::before,
          &::after {
            color: $yellow;
            content: "\f0eb";
            font-family: "Font Awesome 5 Free";
            font-weight: 400;
            position: absolute;
          }
          &::before {
            left: -3.6rem;
          }
          &::after {
            right: -3.6rem;
          }
        }
        .check {
          position: relative;
          &::before {
            @include sp {
              left: -2rem;
            }
            @include tab {
              left: -2rem;
            }
            @include pc {
              left: -3rem;
            }
            color: $brightBlue;
            content: "\f058";
            font-family: "Font Awesome 5 Free";
            font-weight: 400;
            position: absolute;
          }
        }
      }
      ////////////
      //HTML CSS//
      ////////////

      .portfolioItems {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        @include sp {
          flex-direction: column;
        }
        @include tab {
          flex-direction: row;
          justify-content: space-between;
        }
        @include pc {
          flex-direction: row;
          justify-content: space-between;
        }

        .worksCardFlame {
          border-radius: 0.4rem;
          color: #fff;
          height: 25rem;
          margin: 0 auto;
          overflow: hidden;
          &:hover {
            cursor: pointer;
          }
          &.preparation {
            border: 0.1rem solid $lightGray;
          }
          @include sp {
            width: 80%;
            margin-bottom: 4rem;
          }
          @include tab {
            width: 45%;
            margin-bottom: 4rem;
          }
          @include pc {
            width: 30%;
            margin-bottom: 2.4rem;
          }

          .worksCard {
            height: 100%;
            position: relative;
            text-align: center;
            transition: 0.3s;
            vertical-align: center;
            width: 100%;
            &:hover {
              transform: scale(1.08, 1.08);
            }
            i {
              color: #ddd;
              @include sp {
                padding-top: 15%;
              }
              @include tab {
                padding-top: 25%;
              }
              @include pc {
                padding-top: 25%;
              }
            }
          }
          .worksCard:hover {
            .worksCardShadow {
              visibility: visible;
              transition: 0.3s;
            }
            .worksDesc {
              transition: 0.3s;
              visibility: visible;
              opacity: 1;
            }
            .worksTitle {
              top: 40%;
            }
            .worksDesc0 {
              top: 50%;
            }
            .worksDesc1 {
              top: 60%;
            }
          }
          .worksCardShadow {
            background-color: rgba($navy, 0.6);
            height: 100%;
            position: absolute;
            visibility: hidden;
            width: 100%;
          }
          .worksDesc {
            left: 50%;
            opacity: 0;
            position: absolute;
            transform: translate(-50%, -50%);
            visibility: visible;
            width: 100%;
          }
          .worksTitle {
            color: #ccc;
            font-size: 1.2rem;
            top: 45%;
          }
          .worksDesc0 {
            color: #fff;
            font-size: 1.7rem;
            top: 55%;
          }
          .worksDesc1 {
            color: #ccc;
            font-size: 1.2rem;
            top: 65%;
          }
        }

        .worksCardFlame1-2,
        .worksCardFlame2-2,
        .worksCardFlame3-2,
        .worksCardFlame4-2 {
          display: none;
        }
      }
    }
  }
}
