#Portfolio {
  .portfolioBox {
    margin: 0 auto;
    padding: 4rem 2rem 0;
    @include sp {
      max-width: 100%;
    }
    @include tab {
      max-width: 100%;
    }
    @include pc {
      max-width: 124rem;
    }
    .worksWrap {
      .useLanguage {
        text-align: center;
        color: $navy;
        font-family: serif;
        @include sp {
          font-size: 4rem;
        }
        @include tab {
          font-size: 4rem;
        }
        @include pc {
          font-size: 5rem;
        }
      }
      .worksTitle {
        background-color: $brightBlue;
        color: #fff;
        display: inline-block;
        font-size: 2.5rem;
        margin: 0 auto;
        text-align: center;
      }
      .worksOverview {
        @include sp {
          font-size: 1.6rem;
        }
        @include tab {
          font-size: 2rem;
        }
        @include sp {
          font-size: 2.4rem;
        }
        text-align: center;
      }
    }
    .appImg {
      @include sp {
        width: 100%;
      }
      @include tab {
        width: 45rem;
      }
      @include pc {
        height: auto;
        width: 50rem;
      }
    }
    .worksConts {
      background-color: #fff;
      display: flex;
      @include sp {
        flex-direction: column;
      }
      @include tab {
        flex-direction: row;
      }
      @include pc {
        flex-direction: row;
      }
      .worksAnimation,
      .worksDesc {
        color: $navy;
        @include sp {
          width: 100%;
        }
        @include pc {
          width: 50%;
        }
      }
      .film {
        &::before {
          color: #888;
          content: "\f008";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
        }
      }
      .link {
        &::before {
          color: #888;
          content: "\f0c1";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
        }
      }
      .overview {
        &::before {
          content: "\f15c";
          font-family: "Font Awesome 5 Free";
          font-weight: 400;
        }
      }
      .point {
        &::before {
          color: rgb(242, 190, 66);
          content: "\f0eb";
          font-family: "Font Awesome 5 Free";
          font-weight: 400;
        }
      }
      .fa-check-circle {
        color: green;
        font-size: 1.6rem;
      }
    }
  }
}
