#Profile {
  background-color: #fcfcfc;
  width: 100%;
  @include sp {
    padding: 5.6rem 0 9.6rem;
  }
  @include tab {
    padding: 5.6rem 0 8rem;
  }
  @include pc {
    height: 88rem;
    padding: 6.4rem 0;
  }
  .profileContainer {
    margin: 0 auto;
    position: relative;
    @include sp {
      padding: 2rem 3rem 0;
    }
    @include tab {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64rem;
    }
    @include pc {
      display: flex;
      justify-content: space-between;
      height: 56rem;
      max-width: 124rem;
      overflow: hidden;
    }

    /////////////
    // myPhoto //
    /////////////
    .myPhoto {
      margin: 0 auto;
      @include sp {
        width: 100%;
      }
      @include tab {
        // height:48rem;
        // position: relative;
        width: 100%;
        height: 56rem;
        // &:before {
        //   content: "";
        //   display: block;
        //   padding-top: 75%;
        // }
      }
      @include pc {
        width: 100%;
        margin: 0;
      }

      .imgBox {
        background-image: url(../img/toshifumiide1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        @include sp {
          background-position: top 0 left 60%;
          border-radius: 50%;
          height: 25rem;
          margin: 0 auto 2rem;
          max-width: 25rem;
        }
        @include tab {
          background-position: top 0 left 70%;
          border-radius: 50%;
          height: 36rem;
          // overflow: hidden;
          width: 36rem;
          margin: 0 auto;
          // position: absolute;
          // top: 0;
          // left: 0;
          // bottom: 0;
          // right: 0;
        }
        @include pc {
          background-position: center;
          height: 56rem;
          width: 100%;
        }
      }
      .mySns {
        @include pc {
          display: none;
        }
        @include tab {
          height: 20rem;
          padding-top: 4rem;
        }
        @include sp {
          margin-bottom: 4rem;
        }
        text-align: center;
        ul {
          margin: 0 auto;
        }
        li {
          margin-bottom: 1.6rem;
        }
        .sns {
          font-size: 2.4rem;
          line-height: 5rem;
          text-decoration: none;
          width: 100%;
        }
        .twitter {
          color: $twitterColor;
        }
        .twitter:hover {
          color: $twitterColorLight;
        }
        .github {
          color: $gitHubColor;
        }
        .github:hover {
          color: $gitHubColorLight;
        }
      }
    }
    // <!-- myPhoto --> //

    // <!-- About Me --> //
    .aboutMe {
      align-items: center;
      overflow: scroll;
      width: 100%;
      background-color: rgba(5, 5, 84, 0.85);
      @include tab {
        height: 56rem;
      }
      @include pc {
        background-color: rgba(5, 5, 84, 0.85);
        height: 56rem;
        padding: 0 2rem;
      }

      .aboutMeTitle {
        font-family: sans-serif;
        font-weight: normal;
        text-align: center;
        @include sp {
          background-color: #fcfcfc;
          color: $navy;
          font-size: 3rem;
          padding: 0 0 1rem;
        }
        @include tab {
          color: #fcfcfc;
          font-size: 3rem;
          padding: 1rem 0;
        }
        @include pc {
          color: #eee;
          font-size: 4rem;
          padding: 2rem 0 1rem;
        }
      }

      .iconColor {
        color: #eee;
      }

      ////////////////
      // profileWrap//
      ////////////////
      .profileWrap {
        display: flex;
        background-color: rgba(5, 5, 84, 0.85);
        @include sp {
          border-radius: 0.4rem;
          padding: 1.6rem 0 4rem;
        }
        @include tab {
          background-color: rgba(5, 5, 84, 0);
        }
        @include pc {
          background-color: rgba(5, 5, 84, 0);
        }

        .icon {
          @include sp {
            margin-left: 1.5rem;
            padding-top: 2rem;
          }
          @include tab {
            margin-left: 0;
            padding: 0.8rem 0 0 1.2rem;
          }
          @include pc {
            margin-left: 0;
            padding-top: 1.4rem;
          }
        }

        .profileDesc {
          padding: 0 2rem;

          .profileDesc1,
          .profileDesc2 {
            .myName {
              color: #fff;
              padding-top: 2rem;
              @include sp {
                font-size: 2rem;
              }
              @include tab {
                font-size: 1.7rem;
              }
              @include pc {
                font-size: 2.5rem;
              }
            }
            p,
            .profileChapter {
              color: #fff;
              @include sp {
                font-size: 1.5rem;
              }
              @include tab {
                font-size: 1.3rem;
              }
              @include pc {
                font-size: 1.5rem;
              }
            }
            .profileChapter {
              padding-top: 1.8rem;
            }

            ////////////////
            // myStrengths//
            ////////////////
            .myStrengths {
              // @include pc {
              //   margin-bottom: 2rem;
              // }
              .myStrength {
                color: #eee;
                line-height: 2rem;
                @include sp {
                  font-size: 1.6rem;
                }
                @include tab {
                  font-size: 1.3rem;
                }
                @include pc {
                  font-size: 1.5rem;
                }
                .colon {
                  @include sp {
                    display: none;
                  }
                  @include tab {
                    display: none;
                  }
                }
              }
            }
            /////////
            //mySns//
            /////////
            .mySns {
              @include sp {
                display: none;
              }
              @include tab {
                display: none;
              }
              @include pc {
                display: block;
              }
              .snsBox {
                display: flex;
                justify-content: space-around;
                .snsRight,
                .snsLeft {
                  flex-grow: 1;
                }
                .sns {
                  text-decoration: none;
                  font-size: 2.4rem;
                }
                .twitter {
                  color: $twitterColor;
                  &:hover {
                    color: $twitterColorLight;
                  }
                }
                .github {
                  color: $gitHubColor;
                  &:hover {
                    color: $gitHubColorLight;
                  }
                }
              }
              .fab {
                vertical-align: middle;
              }
            } //mySns
          }
        }
      }
    }

    .slideContsL {
      transform: translateX(-100rem);
      transition: all 0.4s;
    }
    .slideContsR {
      transform: translateX(100rem);
      transition: all 0.4s;
    }
  }
}
