#Service {
  @include tab {
    height: 90rem;
  }
  @include pc {
    background: url(../img/moon1.jpg);
    background-attachment: fixed;
    background-position: center 38%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80rem;
  }
  .serviceShadow {
    background-color: rgba(20, 20, 20, 0.4);
    box-sizing: border-box;
    height: 100%;
    padding: 5.6rem 0 4rem;
    width: 100%;
    @include pc {
      padding-top: 6.4rem;
    }
  }

  .serviceContents {
    color: $navy;
    display: flex;
    max-width: 124rem;
    margin: 0 auto;
    @include sp {
      flex-direction: column;
    }
    @include tab {
      flex-wrap: wrap;
    }
    @include pc {
      justify-content: space-between;
      padding: 5rem 0;
    }
    .serviceCard {
      background: linear-gradient(-45deg, #bdc3c9, #fff, #b9c3c9);
      border-radius: 1rem;
      margin: 2rem auto;
      padding: 2rem;
      position: relative;
      width: 75%;
      &:hover {
        background: linear-gradient(-45deg, #fff, #b9c3c9, #fff);
      }

      @include tab {
        height: 31rem;
        width: 45%;
      }
      @include pc {
        height: 31rem;
        width: 30%;
      }
    }
    // .appleIcon {
    //   display: inline;
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   z-index: 1;
    //   .appleColor {
    //     color: rgba(220, 220, 220, 0.3);
    //   }
    // }

    .serviceIcon {
      color: rgba($navy, 0.78);
      padding-top: 1rem;
      text-align: center;
    }
    .serviceTitle {
      font-size: 1.5rem;
      padding-top: 2rem;
      text-align: center;
    }
    .servicePrice {
      font-size: 1.5rem;
      padding: 2rem 2rem 0;
      z-index: 10;
    }
    .serviceDelivery {
      font-size: 1.5rem;
      padding: 1rem 2rem 0;
    }

    .serviceDesc {
      font-size: 1.2rem;
      padding: 2rem 2rem 0;
      text-align: justify;
    }
  }
}

@include sp {
  #Service:before {
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -100;
  }
  #Service.bg0:before {
    background: none;
  }
  #Service.bg1:before {
    background: url(../img/moon1.jpg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #Service.bg2:before {
    background: url(../img/moon2.jpg);
    background-position: 35% 20%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@include tab {
  #Service:before {
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -100;
  }

  #service.bg0:before {
    background: none;
  }
  #Service.bg1:before {
    background: url(../img/moon1.jpg);
    background-position: 50% 30%;
    background-size: cover;
  }
  #Service.bg2:before {
    background: url(../img/moon2.jpg);
    background-position: 40% 0%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
