#Skill {
  @include pc{
    background: url(../img/moon1.jpg);
    background-attachment: fixed;
    background-position: center 36%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }

  .skillShadow {
    background-color: rgba(20, 20, 20, 0.4);
    box-sizing: border-box;
    height: 100%;
    padding: 5.6rem 0 10rem;
    width: 100%;
    @include pc {
      padding-top: 6.4rem;
    }
  }

  .skillBox {
    display: flex;
    margin: 0 auto;
    padding: 4rem 2rem 0;
    flex-wrap: wrap;
    @include sp {
      flex-direction: column;
      // flex-direction: row;
      // justify-content: space-between;
    }
    @include tab {
      flex-direction: row;
      justify-content: space-between;
    }
    @include pc {
      flex-direction: row;
      justify-content: space-between;
      max-width: 124rem;
    }

    .skillCard {
      background-color: #fff;
      box-shadow: 1rem 1rem 1rem $navy;
      color: $navy;
      height: 23rem;
      margin: 0 auto 3rem;
      @include sp{
        width: 60%;
      }

      @include tab {
        width: 45%;
        margin-bottom: 3rem;
      }

      @include pc {
        height: 23rem;
        margin-bottom: 3rem;
        width: 22%;
      }

      .skillImg {
        height: 60%;
        position: relative;
        width: 100%;

        .fab,
        .imgjQuery {
          left: 50%;
          position: absolute;
          top: 60%;
          transform: translate(-50%, -50%);
        }
        .imgjQuery {
          width: 100px;
          height: 100px;
        }
      }

      .htmlRed {
        color: $htmlColor;
      }
      .cssBlue {
        color: $cssColor;
      }
      .sassPink {
        color: $sassColor;
      }
      .jsYellow {
        color: $jsColor;
      }
      .reactSkyblue {
        color: $reactColor;
      }
      .gitHubBlack {
        color: $gitHubColor;
      }

      .skillDesc {
        font-size: 2.5rem;
        text-align: center;
      }
      p {
        padding-top: 2rem;
        font-size: 1.2rem;
        text-align: center;
      }
    }

    .scrollFade {
      opacity: 0;
      transform: translateY(8rem);
      transition: all 0.4s;
    }
  }
}

//パララックス調をspとtabで実装//
//JSで切替を管理//

@include sp {
  #Skill:before {
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -100;
  }
  #Skill.bg0:before {
    background: none;
  }
  #Skill.bg1:before {
    background: url(../img/moon1.jpg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #Skill.bg2:before {
    background: url(../img/moon2.jpg);
    background-position: 35% 20%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@include tab {
  #Skill:before {
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -100;
  }

  #Skill.bg0:before {
    background: none;
  }
  #Skill.bg1:before {
    background: url(../img/moon1.jpg);
    background-position: 50% 30%;
    background-size: cover;
  }
  #Skill.bg2:before {
    background: url(../img/moon2.jpg);
    background-position: 40% 0%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}